<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homestyle.css') }}" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- navbar -->
    <header>
      <!-- Nav container -->
      <div class="nav container">
        <!-- menu-icon -->
        <i class="bx bx-menu" id="menu-icons"></i>
        <!-- logo -->
        <a href="#" class="logo">Car<span>Point</span></a>
        <!-- Nav-list -->
        <ul class="navbar">
          <li><a href="#home" class="active">Home</a></li>
          <li><a href="/contact.html" target="_blank">Contact Us</a></li>
          <li><a href="/login.html">Log in</a></li>
          <li><a href="/signup.html">Sign Up</a></li>
        </ul>
      </div>
    </header>
    <!-- section -->
    <section class="home" id="home">
      <div class="home-text">
        <h1>
          We have Trusted <br />
          <span>Car Selling</span> Site
        </h1>
      </div>
    </section>
    <!-- cars section -->
    <section class="cars" id="cars">
      <div class="heading">
        <h2>Types of Cars</h2>
      </div>
      <!-- cars container -->
      <div class="cars-container container">
        <!-- box 1 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car1.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
        <!-- box 2 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car2.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
        <!-- box 3 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car3.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
        <!-- box 4 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car4.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
        <!-- box 5 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car5.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
        <!-- box 6 -->
        <div class="box">
          <img src="{{ url_for('static', filename='image/img/car6.jpg') }}" alt="" />
          <h2>Porche Car</h2>
        </div>
      </div>
    </section>

    <!-- footer -->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box">
                <a class="logo">Cars<span>Point</span></a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                </div>
            </div>
            <div class="footer-box">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Cars</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookie Policy</a>
            </div>
            <div class="footer-box">
                <h3>Contact Us</h3>
                <a href="/contact.html" target="_blank"><button>Click to Contact</button></a>
            </div>
        </div>
    </section>
    <!-- copyright -->
    <div class="copyright">
        <p>Made By <b>SHUBHAM SHARMA</b></p>
    </div>
    <script src="/main.js"></script>
    
  </body>
</html>
